body{
  display: flex;
  flex-direction: row;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

h4{
  margin: 0;
}

.container{
  display: flex;
  height: 100vh;
  flex-grow: 4;
  flex-direction: column;
}

.header{
  display: flex;
  flex-grow: 1;
  border-bottom: 1px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  background-color: rgba(211, 211, 211, 0.2);
}

.header_title{
  margin: auto;
  color: #F2FB04;
}

.main{
  display: flex;
  flex-grow: 5;
  align-items: center;
  max-height: 80vh;
  width: 1280px;
  background-color: rgba(211, 211, 211, 0.2);
}

.payment{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}

.alternativs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.alternativ{
  text-align: center;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #666666;
  font-color: #030203;
  font-size: 40px;
  padding: 10px;
  background: #fcfeff;
  border solid: #090d0f 1px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px;
}

.ads{
  height: 100vh;
  width: 320PX;
  display: flex;
  flex-direction: column;
}

.ad{
  display: flex;
  flex-grow: 1;
  max-width: 20vw;
}

.ad_link{
  height: 100vh;
  width: 320px;
  position: fixed;
  right: 0;
}

.card_info{
  display: flex;
  flex-direction: row;
}

.card_type{
  width: 35%;
}

.expiration_date{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.expiration_input{
  display: flex;
  flex-direction: row;
}

.input_cardnumber{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  color: rgba(0,142,198,1);
  background: rgba(252,252,252,1);
  width: 89%;
}

.input_cvc{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  color: rgba(0,142,198,1);
  background: rgba(252,252,252,1);
  height: 27%;
}

.input_month{
  width: 15%;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  color: rgba(0,142,198,1);
  background: rgba(252,252,252,1);
}

.input_year{
  width: 30%;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  color: rgba(0,142,198,1);
  background: rgba(252,252,252,1);
}

.text_margin{
  margin-left: 5px;
  margin-right: 5px;
}

.cvc{
  margin-left: 10px;
}

.register_margin{
  margin-top: 50px;
}

.main_container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ty{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  background: rgba(252,252,252,1);
  margin-top: 100px;
}

.send{
  margin-top: 50px;
}

#message{
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

.message{
  display: flex;
  flex-grow: 5;
  align-items: center;
  max-height: 80vh;
  width: 1280px;
  background-color: rgba(211, 211, 211, 0.2);
}

.weather_main_container{
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
